.page{
	height:100%;
	padding: 5px 5px;
}

.header{
	display: grid;
	grid-template-columns: 25% 50% 25%;
	padding: 3px 10px;
}

.logo img{
	transition: transform .2s; /* Animation */
	
	padding-top: 10px;
	padding-left: 45px;
	width: 50%;
}

.logo img:hover {
  transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.header-center{
	text-align: center;
	right: 50%;
	padding: 20px 15%;
/*	background-color: #f1f1f1;*/
}

.header a{
	color:black;
	text-align: center;
	padding:10px;
	border-radius: 4px;
	font-family: 'Roboto Thin';	
	font-size: 20px;	
	text-decoration:none; 

}

.nav a:hover{
	background-color: #ed6c44;	
}

.header a.active{
	text-decoration: none;
	background-color: dodgerblue;
}

.nav{
	border-radius: 20px;
	background-color: #f1f1f1;
	padding: 20px;
}

.sidebar{
	display:block;
	padding-left: 25px;
	height: 615px;
	width: 85%;
	overflow: auto;
}

.content{
	display: grid;
	grid-template-columns: 20% 60% 20%;
	text-align:center;
	padding-bottom: 10px;
/*	padding: 10px 10px;*/
}

.content-main{
	display: grid;
	grid-template-columns: : 40% 60%;
/*	padding: 10px 10px;*/
}

.content-text{
	display: grid;
	grid-template-columns: 100%;
}

.content-text > div{
	padding: 10px;
	background-clip: border-box;
	padding: 10px 100px;*/
	text-align: center;
	border-radius: 10px;
	font-size: 24px;
	font-family: 'Roboto Thin';	
}

.footer{
/*	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;*/
	 position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-icon{
	display: inline-block;
/*	background-color: dodgerblue;*/
}

.icon{
	display: inline-block;
	padding: 10px 10px;
}

.icon a{
	color: black;
	text-decoration: none;
	font-color: dodgerblue;
	font-size: 27px;
	transition: transform .2s; /* Animation */
}

.icon a:hover {
  transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.footer-center{
	text-align: center;
	border-radius: 10px;
	background-color: #f1f1f1;
	padding: 30px 25%;
}

.content-photo{
	display: grid;
	/*grid-template-columns: 25% 50% 25%;*/
	padding-top: 15px;
/*	grid-column-gap: : 1em;*/
}

.content-photo > div > img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.copy{
	font-size: 14px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle  Thankssss @ http://jsfiddle.net/Prxsj/*/
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(252, 149, 32, 1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.1); 
}



.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    top:50%;
    left:50%;
}