.page{
	height:100%;
	padding: 5px 5px;
}

.header{
	display: grid;
	grid-template-columns: 25% 50% 25%;
	padding: 3px 10px;	
}

.logo img{
	transition: transform .2s; /* Animation */
	
	padding-top: 10px;
	padding-left: 45px;
	width: 50%;
}

.logo img:hover {
  transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.header-center{
	text-align: center;
	right: 50%;
	padding: 20px 15%;
/*	background-color: #f1f1f1;*/
}

.header a{
	color:black;
	text-align: center;
	padding:10px;
	border-radius: 4px;
	font-family: 'Roboto Thin';	
	font-size: 20px;	
	text-decoration:none; 

}

.nav a:hover{
	background-color: #ed6c44;	
}

.header a.active{
	text-decoration: none;
	background-color: dodgerblue;
}

.nav{
	border-radius: 20px;
	background-color: #f1f1f1;
	padding: 20px;
}



.content{
	display: grid;
	grid-template-columns: 20% 55% 25%;
	text-align:center;
	padding-bottom: 10px;
/*	padding: 10px 10px;*/
}

.content-main{
	display: grid;
/*	grid-template-columns: : 40% 60%;
	padding: 10px 10px;*/
}

.game-display{
	margin: 10px; 
}

.game-title{
	margin-top: 10px;
}

.game-title > a{
	font-family: 'Roboto Thin';	
	font-size: 30px;
	color: dodgerblue;
}

.game-title > a:hover{
	color: #ed6c44;	
}

.mySlides{
	display: none;
}

.game-content{
	background-color: #f1f1f1;
	border-radius: 20px;
	text-align: center;
	border-radius: 10px;
			font-size: 24px;
	font-family: 'Roboto Thin';	
	padding: 10px 100px;

	margin-bottom: 50px;
}

.footer{
/*	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;*/
/*	 position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-icon{
	display: inline-block;
/*	background-color: dodgerblue;*/
}

.icon{
	display: inline-block;
	padding: 10px 10px;
}

.icon a{
	color: black;
	text-decoration: none;
	font-color: dodgerblue;
	font-size: 27px;
	transition: transform .2s; /* Animation */
}

.icon a:hover {
  transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.footer-center{
	text-align: center;
	border-radius: 10px;
	background-color: #f1f1f1;
	padding: 30px 25%;
}

